@model ooadproject.Models.Exam

@{
    ViewData["Title"] = "Details";
}
@section SideMenu {
    @await Html.PartialAsync("_TeacherHomePartial")
}
<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Kurs
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class = "col-sm-2">
            Vrijeme
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            Tip ispita
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Ukupni bodovi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>
        <dt class = "col-sm-2">
            Prag
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi</a> |
    <a asp-action="Index">Vratite se</a>
</div>
