@model IEnumerable<ooadproject.Models.Exam>

@{
    ViewData["Title"] = "Ispiti";
    var Registrations = (Dictionary<int,int>) ViewData["RegisteredForExam"];
}
@section SideMenu {
    @await Html.PartialAsync("_TeacherHomePartial")
}
<h1 class="pb-4">Aktuelni ispiti</h1>

<table class="table table-bordered border-dark">
    <thead>
        <tr>
            <th>
                Predmet
            </th>
            <th>
                Ispit
            </th>
            <th>
                Datum
            </th>
            <th>
                Prijavljeno
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var name = item.Course.Name;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Registrations[item.ID])
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1 class="pb-4">Kreiraj ispit</h1>

<div style="padding-left: 20px;">
    <a class="btn btn-secondary" style="background-color: #0e6efd; color: white;" onmouseover="this.style.backgroundColor='#4c84ff'" onmouseout="this.style.backgroundColor='#0e6efd'" asp-action="Create">Kreiraj novi ispit</a>
</div>

