@model IEnumerable<ooadproject.Models.Teacher>
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    ViewData["Title"] = "Početna";
    var Registrations = (Dictionary<int, int>)ViewData["RegisteredForExam"];
}
@section SideMenu{
    @await Html.PartialAsync("_TeacherHomePartial")
}


@if (SignInManager.IsSignedIn(User))
{
    <h1 class="pb-5">Dobro došli, @User.Identity?.Name!</h1>
    <hr />
    <h2 class="pb-3">Aktuelni ispiti</h2>
    /* Create table with all the current open exams that the teacher is assigned to*/
    /* For each exam in Model.Exams display a row with the exam information */
    /* Maybe add check if no exams are open, don't showt table */
    /* If there are no exams open, display a message saying there are no exams open */
    @if(ViewBag.Exams.Count == 0)
    {
        <div style="padding-left: 1rem;">
            <h3 class="pb-3">Trenutno nema otvorenih ispita</h3>
        </div>
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th>Predmet</th>
                <th>Ispit</th>
                <th>Datum</th>
                <th>Prijavljeno</th>
                <th>Opcije</th>
            </tr>
            @foreach (var exam in ViewBag.Exams)
            {
                <tr>
                    <td>@exam.Course.Name</td>
                    <td>@exam.Type</td>
                    <td>@exam.Time</td>
                    <td>
                         @Registrations[exam.ID]
                    </td>
                    <td>
                        <a asp-controller="Exam" asp-action="Edit" asp-route-id="@exam.ID" class="link-dark rounded">Uredi</a>
                    </td>
                </tr>
            }
        </table>
    }
    
    <h2 class="pb-3 pt-5">Obavještenja</h2>
    /*Check if there are any notifications*/
    /*If there are no notifications, display a message saying there are no notifications*/

    @if (ViewBag.Notifications.Count == 0)
    {
        <div style="padding-left: 1rem;">
            <h3>Trenutno nema novih obavještenja</h3>
        </div>
    }
    else{
        @foreach (var notification in ViewBag.Notifications)
        {
            <a class="link-dark rounded text-decoration-none btn-lg d-flex justify-content-start align-items-center mb-1" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">
                <i class="far fa-bell me-3" style="font-size: 1.5rem;"></i>
                @notification.Title: @notification.Description
            </a>
        }
    }
}
