@using Microsoft.EntityFrameworkCore;
@model IEnumerable<ooadproject.Models.Request>

@{
    ViewData["Title"] = "Zahtjevi";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Aktivni zahtjevi</h1>
<hr />
<table class="table table-hover">
    <tr>
        <th>Zahtjev</th>
        <th>Student</th>
        <th></th>
    </tr>
    @foreach (Request request in ViewBag.PendingRequests)
    {
        <tr>
            <td>
                @if (request.Type == RequestType.PassedExamsTestimony)
                {
                    @Html.Raw("Uvjerenje o položenim predmetima")
               }
                else
                {
                     @Html.Raw("Potvrda o redovnom studiju")
                }
            </td>
            <td>@(request.Requester.FirstName) @(request.Requester.LastName)</td>
            <td style="text-align:center;">
                <form asp-controller="Request" asp-action="EditStatus" asp-route-id="@request.ID" method="post">
                    <select name="status" class="form-select" onchange="this.form.submit()" style="width: auto; margin: auto;">
                        <option value="Pending" selected="@(request.Status == RequestStatus.Pending ? "selected" : null)">U obradi</option>
                        <option value="Accepted" selected="@(request.Status == RequestStatus.Accepted ? "selected" : null)">Prihvaćen</option>
                        <option value="Rejected" selected="@(request.Status == RequestStatus.Rejected ? "selected" : null)">Odbijen</option>
                    </select>
                </form>
            </td>
        </tr>
    }
</table>
<h1>Historija zahtjeva</h1>
<form id="searchForm" asp-controller="Request" asp-action="AllRequests" method="get">
    <div class="d-flex align-items-center">
        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" style="max-width: 100%; width: auto;"/>
        <input type="submit" value="Pretraži" class="btn btn-primary ml-5 " style="margin-left: 10px;" />
    </div>
</form>
<div id="processedRequests">
    @await Html.PartialAsync("_ProcessedRequestsPartial", Model)
</div>
<a id="showAllRequests" asp-controller="Request" asp-action="AllRequests" class="btn btn-primary">Prikaži sve zahtjeve</a>


@section Scripts{
<script>
        $(document).ready(function () {
            $('#searchForm').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    method: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#processedRequests').html(data);
                    }
                });
            });

            $('#showAllRequests').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.href,
                    method: 'get',
                    success: function (data) {
                        $('#processedRequests').html(data);
                        $('#showAllRequests').hide();
                    }
                });
            });
        });
</script>
}



