@model IEnumerable<ooadproject.Models.ExamRegistration>

@{
    ViewData["Title"] = "Index";
}
@section SideMenu {
    @await Html.PartialAsync("_StudentSideMenuPartial")
}

<h1 class="pb-3">Aktuelni ispiti</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Ispit</th>
            <th>Datum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in ViewBag.OpenedExams)
        {
            <tr>
                <td>@exam.Course.Name</td>
                <td>@exam.Type</td>
                <td>@exam.Time</td>
                <td>
                    <form method="post" asp-controller="ExamRegistration" asp-action="Create" asp-route-id="@exam.ID">
                        <input type="hidden" name="examid" value="@exam.ID">
                        <button type="submit" class="btn btn-primary">Prijavi se</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1 class="pb-3">Prijavljeni ispiti</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Ispit</th>
            <th>Datum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in ViewBag.RegisteredExams)
        {
            <tr>
                <td>@exam.Exam.Course.Name</td>
                <td>@exam.Exam.Type</td>
                <td>@exam.Exam.Time</td>
                <td>
                    <form method="post" asp-controller="ExamRegistration" asp-action="Delete" asp-route-id="@exam.ID">
                        <input type="hidden" name="examid" value="@exam.ID">
                        <button type="submit" class="btn btn-primary">Odjavi se</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


